div.portee {
  position:   fixed;
  height:     620px;
  width:      4000px;
  overflow-x: hidden;
  overflow-y: visible;
}
div.portee img.lignes {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}
img.G-key {
  height:  360px;
  margin-left: 20px;
  z-index: 1;
}
img.F-key {
  position: absolute;
  height:  153px;
  margin-left: 20px;
  top: 80px;
  z-index: 1;
}
